@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

body {
	margin: 0;
}

.main-title {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 40px;
	color: #262728;
	display: inline-block;
}

.main-nav {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	font-size: 20px;
	display: inline-block;
}

.main-nav a {
	text-decoration: none;
	padding: 10px;
}

header {
	background: url('/assets/images/');
	display: inline-block;
}

nav {
	display: inline-block;
}

ul {
	list-style: none;
}

/* Classes */

.flex {
	display: flex;
}