@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

/* HTML Tags */

a {
	text-decoration: none;
	font-family: 'Cantarell', sans-serif;
	font-size: 18px;
	color: #272828;
}

body {
	margin: 0;
}

.brokerage-title {
	display: inline-block;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 40px;
	color: #262728;
	margin: 20px;
}

header {
	background: url('/assets/images/');
	display: inline-block;
}

nav {
	display: inline-block;
}

ul {
	list-style: none;
}

/* Classes */

.flex {
	display: flex;
}